name: rpm-build
on:
  workflow_dispatch:
    inputs:
      name:
        type: string
        required: true
        description: Package to build
  workflow_call:
    inputs:
      name:
        type: string
        required: true
        description: Package to build
permissions:
  contents: read
defaults:
  run:
    shell: bash
env:
  NAME: ${{ inputs.name }}
jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: fedora:43
    name: build ${{ inputs.name }}
    steps:
      - name: install dependencies
        run: |
          dnf install -y fedora-packager git make
      - name: setup build environment
        run: rpmdev-setuptree
      - uses: actions/checkout@v5
        with:
          set-safe-directory: true
      # BUG: fixes permission in GitHub actions container
      - name: set safe git directory
        run: |
          git config --system --add safe.directory "$PWD"
      - name: install ${{ inputs.name }} build dependencies
        run: |
          make -C "rpm/$NAME" install-deps
      - name: build ${{ inputs.name }} rpm
        run: |
          make -C "rpm/$NAME" build
          CHANGED="$(git status -u --porcelain)"
          if [[ -n "$CHANGED" ]]; then
            git diff
            echo "file changed"
            exit 1
          fi
